@import "tailwindcss";
@config "../tailwind.config.js";

/*Setting color of html so there is no miss-matching colors when scrolling to much up or down*/
html {
  background-color: var(--background);
}

@layer utilities {
  .text-hero {
    @apply text-[4.5rem] leading-tight font-bold;
  }

  .text-section {
    @apply text-[2.25rem] leading-snug font-bold;
  }

  .text-title {
    @apply text-[2rem] leading-relaxed font-bold;
  }

  .text-caption {
    @apply text-[1.3rem] leading-normal font-bold;
  }

  .size-max-screen {
    @apply max-w-[100rem];
  }
}

:root {
  --background: #f8f8ff;
  --background-hover: #1a1a1a;
  --foreground-title: #1a1a1a;
  --foreground-text: #555555;
  --foreground-hover-title: #f8f8ff;
  --primary: #a074ff;
  --secondary-background: #1a1a1a;
  --secondary-foreground: #f8f8ff;

  /* Buttons */
  --button-primary-bg: var(--primary);
  --button-secondary-bg: var(--secondary-background);
  --button-skeleton-bg: transparent;

  --button-primary-bg-hover: var(--secondary-background);
  --button-secondary-bg-hover: var(--primary);
  --button-skeleton-bg-hover: #1a1a1a;

  --button-primary-fg: #f8f8ff;
  --button-secondary-fg: #f8f8ff;
  --button-skeleton-fg: var(--foreground-title);

  --button-primary-fg-hover: #f8f8ff;
  --button-secondary-fg-hover: #f8f8ff;
  --button-skeleton-fg-hover: var(--background);
}

.dark {
  --background: #1a1a1a;
  --background-hover: #f8f8ff;
  --foreground-title: #f8f8ff;
  --foreground-subtitle: #d3d3d3;
  --foreground-text: #b0b0b0;
  --foreground-hover-title: #1a1a1a;
  --primary: #8c52ff;
  --secondary-background: #f8f8ff;
  --secondary-foreground: #1a1a1a;

  /*Buttons*/
  --button-primary-bg: var(--primary);
  --button-secondary-bg: #f8f8ff;
  --button-skeleton-bg: transparent;

  --button-primary-bg-hover: var(--secondary-background);
  --button-secondary-bg-hover: var(--primary);
  --button-skeleton-bg-hover: #f8f8ff;

  --button-primary-fg: #f8f8ff;
  --button-secondary-fg: var(--primary);
  --button-skeleton-fg: var(--foreground-title);

  --button-primary-fg-hover: var(--primary);
  --button-secondary-fg-hover: #f8f8ff;
  --button-skeleton-fg-hover: var(--background);
}

@theme {
  --color-background: var(--background); /* Used for backgorund */
  --color-background-hover: var(
    --background-hover
  ); /* Used for backgorund on hover*/
  --color-foreground-title: var(
    --foreground-title
  ); /* Used for large text and icons*/
  --color-foreground-subtitle: var(
    --foreground-subtitle
  ); /* Used for subtitle text */
  --color-foreground-text: var(--foreground-text);
  --color-foreground-hover-title: var(
    --foreground-hover-title
  ); /* Used for larger text and icons on hover*/
  --color-primary: var(
    --primary
  ); /* Used for styling and higlighting primary elements*/
  --color-secondary-background: var(
    --secondary-background
  ); /* Inverted backgorund color */
  --color-secondary-foreground: var(
    --secondary-foreground
  ); /* Inverted foreground title color */

  /*Button styles*/
  /*--------------------*/
  /* Background color */
  --color-button-primary-bg: var(--button-primary-bg);
  --color-button-secondary-bg: var(--button-secondary-bg);
  --color-button-skeleton-bg: var(--button-skeleton-bg);

  /* Background color - HOVER */
  --color-button-primary-bg-hover: var(--button-primary-bg-hover);
  --color-button-secondary-bg-hover: var(--button-secondary-bg-hover);
  --color-button-skeleton-bg-hover: var(--button-skeleton-bg-hover);

  /* Foreground color*/
  --color-button-primary-fg: var(--button-primary-fg);
  --color-button-secondary-fg: var(--button-secondary-fg);
  --color-button-skeleton-fg: var(--button-skeleton-fg);

  /* Foreground color - HOVER */
  --color-button-primary-fg-hover: var(--button-primary-fg-hover);
  --color-button-secondary-fg-hover: var(--button-secondary-fg-hover);
  --color-button-skeleton-fg-hover: var(--button-skeleton-fg-hover);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lilita-one: var(--font-lilita-one);
  --font-code: var(--font-code);
  --font-pacifico: var(--font-pacifico);
  --font-arial: Arial, Helvetica, sans-serif;
}

body {
  /*background: var(--background);*/
  /*color: var(--foreground);*/
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
